In [1]:
fruites = ["mango","orange","apple","bule barrey","peach"]
print(fruites)

['mango', 'orange', 'apple', 'bule barrey', 'peach']

In [2]:
fruites[3]

'bule barrey'

In [3]:
fruites.append("strawbery")
fruites

['mango', 'orange', 'apple', 'bule barrey', 'peach', 'strawbery']

In [5]:
fruites.insert(3, "banana")
fruites

['mango', 'orange', 'apple', 'banana', 'bule barrey', 'peach', 'strawbery']

In [16]:
me = ["tahir","khan"]
me[0]

'tahir'

In [19]:
me.extend(["yousufzai","jan","jani","mani"])
me

['tahir',
 'khan',
 'yousufzai',
 'jan',
 'yousufzai',
 'jan',
 'yousufzai',
 'jan',
 'jani',
 'mani']

In [20]:
me.count("yousufzai")

3

In [24]:
me.index("mani")

9

In [26]:
me.clear()
me

[]

In [45]:
me = [1,2,5,6,7]
me

[1, 2, 5, 6, 7]

In [35]:
me2 = me.copy()
me2

[1, 2, 3, 4, 5, 6, 7]

In [38]:
me3 = me
me3

[1, 2, 5, 6, 7]

In [48]:
me

[1, 2, 5, 6, 7]

In [3]:
me.remove(2,3)
me

NameError: name 'me' is not defined

In [51]:
del me [2]
me

[1, 2, 6, 7]

In [53]:
me = ["i","am","tahir"]
me

['i', 'am', 'tahir']

In [54]:
me.remove("am")
me

['i', 'tahir']

In [58]:
me = ["i","am","tahir"]
me

['i', 'am', 'tahir']

In [59]:
poppedme = me.pop()
print(f"this is popped word {poppedme}")
print(f"these r left words {me}")

this is popped word tahir
these r left words ['i', 'am']

In [62]:
me.sort(reverse= True)
me

['i', 'am']

In [ ]:
def choose_action_to_perform():
    action = str(input("enter any action to perform"))
    me = str(input("me"))
    if action == str(me) :
        num1 = int(input("enter number 1 : "))
        num2 = int(input("enter number 2 : "))
        num = num1 + num2
        print(num)
choose_action_to_perform()