# python 2 started
# loop

In [2]:
print("tahir khan")
print("tahir khan")
print("tahir khan")
print("tahir khan")
print("tahir khan")

tahir khan
tahir khan
tahir khan
tahir khan
tahir khan

In [3]:
for a in range(10):
    print(a,"tahir khan")

0 tahir khan
1 tahir khan
2 tahir khan
3 tahir khan
4 tahir khan
5 tahir khan
6 tahir khan
7 tahir khan
8 tahir khan
9 tahir khan

In [4]:
for num in range(18):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [5]:
names = "tahir","khan","jani"
names

('tahir', 'khan', 'jani')

In [6]:
for name in names:
    print(f"this name is wrong {name}")
    print(f"this name is correct {name}")

this name is wrong tahir
this name is correct tahir
this name is wrong khan
this name is correct khan
this name is wrong jani
this name is correct jani

In [7]:
numbers = [11,22,33,44,55,66,77,88,99]

for number in numbers:
    print(number)

11
22
33
44
55
66
77
88
99

In [36]:
country = "pakistan"
country

'pakistan'

In [40]:
for a in country:
    print(a, country)

p pakistan
a pakistan
k pakistan
i pakistan
s pakistan
t pakistan
a pakistan
n pakistan

In [10]:
country = "pakistan","america"
country

('pakistan', 'america')

In [11]:
for country in country:
    print(country)

pakistan
america

# loops break and continue

In [12]:
number = [11,22,33,44,55]
number

[11, 22, 33, 44, 55]

In [13]:
for num in number:
    if num%3==1:
        break
    print(num)

11

In [14]:
tahir = 1,2,3,4,5,6,7,8,9,

for khan in tahir:
    if khan/3==1:
        break
    print(khan)

1
2

In [1]:
for num in range(5,33):
    if num == 13:
        continue
    print(num)

5
6
7
8
9
10
11
12
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

In [ ]:
names = ["tahir1","tahir2","tahir3","tahir4","tahir5"]
print(names)

In [16]:
for name in names:
    if name == "tahir3":
        continue
    print(name)

tahir
khan
jani

# nasted for loop

In [17]:
for a in range(5,7):
    print("nikal bc")
    for char in "jani","khani":
        print(a,char)

nikal bc
5 jani
5 khani
nikal bc
6 jani
6 khani

In [18]:
names = ("khani","jani","kahani","pani")
names

('khani', 'jani', 'kahani', 'pani')

In [19]:
for name in names:
    print("names under consideration")
    for char in names:
        print(name)

names under consideration
khani
khani
khani
khani
names under consideration
jani
jani
jani
jani
names under consideration
kahani
kahani
kahani
kahani
names under consideration
pani
pani
pani
pani

In [2]:
tables = int(input("insert table number"))

for a in range(1,5):
    print(f"{tables} * {a} = {tables*a}")

insert table number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8

In [2]:
tables = int(input("ask any table"))
for num in range(1,11):
    print(f"{tables} * {num} = {tables*num}")

ask any table5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [4]:
list = ["tahir","khan","jani","wtf"]
print(list)

['tahir', 'khan', 'jani', 'wtf']

In [6]:
tables = int(input("insert table number"))

for table in range(2,tables+1):
    for num in range(1,11):
        print(f"{table} * {num} = {table*num}")

insert table number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [7]:
tables = int(input("tables"))

for table in range(1,tables+1):
    for number in range(11):
        print(f"{table} * {number} = {table*number}")

tables2
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [8]:
tables = int(input("insert table no"))

for table in range(2,tables+1):
    for num in range(2,11):
        print(f"{table} * {num} = {table*num}")

insert table no3
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [9]:
user= input("ask anything")
type(user)

ask anything3

str

In [18]:
user= float(input("ask anything"))
type(user)

ask anything4

float

In [20]:
user= str(input("ask anything"))
type(user)

ask anythingtahir

str

# changing case

In [36]:
name = "tahir"
type(name)

str

In [37]:
name.upper()

'TAHIR'

In [38]:
name.lower()

'tahir'

In [40]:
name.title()

'Tahir'

# dictionary

In [52]:
mydictionary = {"key":"TAHIR","key2":32}
len(mydictionary)

2

# adding new element

In [53]:
mydictionary["key3"]="nasrumminallah"
print(mydictionary)

{'key': 'TAHIR', 'key2': 32, 'key3': 'nasrumminallah'}


# accessing element from dictionary

In [50]:
mydictionary["key3"]

'nasrumminallah'

In [58]:
mydictionary["key3"]="nasrumminallah"
print(mydictionary)

{'key': 'TAHIR', 'key3': 'nasrumminallah'}

In [60]:
del mydictionary["key2"]

KeyError: 'key2'

In [61]:
len(mydictionary)

2

In [1]:
MyDict = {"key":"value","key1":"value1","key2":"value2","key3":"value3","key4":"value4","key5":"value5","key6":"value6"}

In [2]:
len(MyDict)

7

In [4]:
MyDict["key7"]="value7"
MyDict

{'key': 'value',
 'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3',
 'key4': 'value4',
 'key5': 'value5',
 'key6': 'value6',
 'key7': 'value7'}

In [16]:
del MyDict["key2"]
MyDict

{'key': 'value',
 'key1': 'value1',
 'key4': 'value4',
 'key5': 'value5',
 'key6': 'value6',
 'key7': 'value7'}

In [18]:
MyDict["key"]="value0"
MyDict

{'key': 'value0',
 'key1': 'value1',
 'key4': 'value4',
 'key5': 'value5',
 'key6': 'value6',
 'key7': 'value7'}

In [24]:
MyDict

{'key': 'value0',
 'key1': 'value1',
 'key4': 'value4',
 'key5': 'value5',
 'key6': 'value6',
 'key7': 'value7'}

# accessing elemnt frm list in dictionary

In [40]:
alist= ["khan","qasim","talha","saad","adil"]
blist= ["qasim","yousufzai","khan","jamal","zaman"]

Mydict1 = {"students": alist , "fathers" : blist}

print(Mydict1)

{'students': ['khan', 'qasim', 'talha', 'saad', 'adil'], 'fathers': ['qasim', 'yousufzai', 'khan', 'jamal', 'zaman']}

In [43]:
Mydict1["students"][0] +" "+ Mydict1["fathers"][0]

'khan qasim'

# accessing elemnt frm dictionary in dictionary

In [53]:
Mydict0 = {"key0":"value0","key1":"value1"}
Mydict2 = {"key3":"value3","key4":"value4"}

Dict = {"dict1": Mydict0,"dict2": Mydict2}

In [58]:
Dict["dict1"]["key1"] +"  "+ Dict["dict2"]["key4"]

'value1  value4'

In [67]:
Mydict1

{'students': ['khan', 'qasim', 'talha', 'saad', 'adil'],
 'fathers': ['qasim', 'yousufzai', 'khan', 'jamal', 'zaman']}

In [90]:
for key in Mydict1.keys():
    print(key)

students
fathers

In [77]:
for values in Mydict1.values():
    print(values)

['khan', 'qasim', 'talha', 'saad', 'adil']
['qasim', 'yousufzai', 'khan', 'jamal', 'zaman']

In [70]:
Mydict1

for a in Mydict1.keys() , Mydict1.values():
    print(a)

dict_keys(['students', 'fathers'])
dict_values([['khan', 'qasim', 'talha', 'saad', 'adil'], ['qasim', 'yousufzai', 'khan', 'jamal', 'zaman']])

In [94]:
Mydict3 = {"name":"tahir","name1":"khan","name2":"yousufzai"}
Mydict

In [98]:
for a , b in Mydict3.items():
    print("the student " + a + " is " + b)

the student name is tahir
the student name1 is khan
the student name2 is yousufzai

# python 2 finished

In [1]:
total = 0

for a in range(5):
    subject = input("\n enter ur subject name : ")
    marks = int(input("enter ur marks = "))
    
    if marks >= 80:
        print(f"\n Your grade of {subject} is = A+")
    elif marks >= 70 < 80:
        print(f"\n Your grade of {subject} is = A")
    elif marks >= 60 < 70:
        print(f"\n Your grade of {subject} is = B")
    elif marks >= 50 < 60:
        print(f"\n Your grade of {subject} is = C")
    elif marks >= 40 < 50:
        print(f"\n Your grade of {subject} is = D")
    else:
        print(f"\n Your grade of {subject} is = Fail")
    
total = total + marks
    
percentage = (total//marks)*100

if percentage >= 80:
    print("\n Your final grade is = A+")
elif percentage >= 70 < 80:
    print("\n Your final grade is = A")
elif percentage >= 60 < 70:
    print("\n Your final grade is = B")
elif percentage >= 50 < 60:
    print("\n Your final grade is = C")
elif percentage >= 40 < 50:
    print("\n Your final grade is = D")
else:
    print(f"\n Your grade of {subject} is = FAIL")

 enter ur subject name : maths
enter ur marks = 99

 Your grade of maths is = A+

 enter ur subject name : urdu
enter ur marks = 40

 Your grade of urdu is = D

 enter ur subject name : eng
enter ur marks = 20

 Your grade of eng is = Fail

 enter ur subject name : comp
enter ur marks = 67

 Your grade of comp is = B

 enter ur subject name : stats
enter ur marks = 45

 Your grade of stats is = D

 Your final grade is = A+

In [ ]:
i = int(input("enter any numbber"))

for e in range(i+1):
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")

In [1]:
try:
    5//0
except:
    print("hi")
else:
    print("hello")
finally:
    print("bye")

hi
bye

In [25]:
try:
    a = 4/0
    if a == 2:
        print("yooor")
except:
    print("none")
else:
    print("this is else blog")
finally:
    print("ye to hogaa!!")

none
ye to hogaa!!