In [3]:
print("Hello World")

Hello World

In [5]:
student_name = "Tahir"
last_name = "Khan"
father_name = "Nasrumminallah"
caste = "Yousufzai"

print(student_name + last_name, father_name + caste)

TahirKhan NasrumminallahYousufzai

In [6]:
a = 69
b = 31
sum = a + b
print(sum)

100

In [1]:
print("Grand Report Card")

Grand Report Card

In [14]:
student_name = "Tahir"
last_name = "Khan"
father_name = "Nasrumminallah"
caste = "Yousufzai"
roll_no = "69"

print(student_name + last_name , father_name + caste , roll_no, end="\n")

TahirKhan NasrumminallahYousufzai 69

In [18]:
marks=["maths","urdu","isl","stats","com","eng"] #list
marks[3]

'stats'

In [20]:
numbers = ["60","70","80","90","100","10"]
numbers[3]

'90'

In [21]:
marks.append("physics")
marks

['maths', 'urdu', 'isl', 'stats', 'com', 'eng', 'physics']

In [22]:
marks.insert(4,"chemistry")
marks

['maths', 'urdu', 'isl', 'stats', 'chemistry', 'com', 'eng', 'physics']

In [29]:
marks=["maths","urdu","isl","stats","com","eng"]
marks

['maths', 'urdu', 'isl', 'stats', 'com', 'eng']

In [30]:
marks.extend(["pass","fail","top"])
marks

['maths', 'urdu', 'isl', 'stats', 'com', 'eng', 'pass', 'fail', 'top']

In [31]:
marks.clear()
marks

[]

In [32]:
numbers

['60', '70', '80', '90', '100', '10']

In [33]:
numbers2 = numbers.copy()
numbers2

['60', '70', '80', '90', '100', '10']

In [34]:
numbers3 = numbers
numbers3

['60', '70', '80', '90', '100', '10']

In [35]:
numbers.append("tahir")
numbers3

['60', '70', '80', '90', '100', '10', 'tahir']

In [36]:
numbers2

['60', '70', '80', '90', '100', '10']

In [42]:
numbers.count("60")

1

In [43]:
numbers.index("100")

4

In [55]:
marks=["maths","urdu","isl","stats","com","eng"]
marks

['maths', 'urdu', 'isl', 'stats', 'com', 'eng']

In [61]:
marks.sort()

In [62]:
marks

['com', 'eng', 'isl', 'maths', 'stats', 'urdu']

In [63]:
marks.sort(reverse= True) # both orders

In [64]:
marks

['urdu', 'stats', 'maths', 'isl', 'eng', 'com']

In [65]:
marks.reverse()     # always assending order

In [66]:
marks

['com', 'eng', 'isl', 'maths', 'stats', 'urdu']

In [68]:
poppedmarks = marks.pop()
print(f"this subject is popped {poppedmarks}")
print(f"remaining subjects are {marks}")

this subject is popped stats
remaining subjects are ['com', 'eng', 'isl', 'maths']

In [69]:
marks.remove("com")

In [70]:
marks

['eng', 'isl', 'maths']

In [ ]:
# first 11 videos done #Masha Allah

In [1]:
tupples = ("tahir","khan","yousufzai","jan","khani")
tupples[3]

'jan'

In [7]:
tupples.index("khan")

1

In [10]:
tupples.count("yousufzai")

1

In [11]:
tupples[:2]

('tahir', 'khan')

In [14]:
tupples[1:5]

('khan', 'yousufzai', 'jan', 'khani')

In [16]:
tupples[::2]

('tahir', 'yousufzai', 'khani')

In [17]:
students_names = ("khan","hammad","kashan","qasim","jaffaith","tahir","talha","farrukh","uzair")
students_names[6]

'talha'

In [18]:
students_names[2:9:3]

('kashan', 'tahir', 'uzair')

In [19]:
students_names.count("tahir")

1

In [23]:
students_names.index("khan")

0

In [24]:
# statements #if and else

In [40]:
a = 39
b = 83
if a>b:
    print("tahir apki ma ka yaar hai") 
    print("tere mere ye dostiiiii")
else:
    print("776")

776

In [43]:
a = 69
b = 31
if a<b:
    print("wot the fuck")
else:
    print("fuck me")

fuck me

# multiple functions

In [ ]:
# plus